| Имя:
=< client.name
br
| Фамилия:
=< client.surname
br
| Отчество:
=< client.patronymic
br
| Территория:
=< client.territory
br
| Телефон:
=< client.phone
br
| E-mail:
=< client.email
br
| Паспорт:
=< client.passport
br
| Коэффициент надбавки:
/ = client.passport
br
| Сумма выданных денег:
/ = client.passport
