| ФИО:
=< client.name
=< client.surname
=< client.patronymic
/ br
/ | Территория:
/ =< client.territory
br
| Телефон:
=< client.phone
br
| E-mail:
=< client.email
br
| Паспорт:
=< client.passport
br
| Коэффициент надбавки:
= client.user.territory
br
| Сумма выданных денег:
/ = client.passport
